body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  text-align: center;
  background-color: rgb(35, 21, 49);
  color: #fff;
}
.square {
  background: #fff;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  line-height: 104px;
  height: 104px;
  padding: 0;
  text-align: center;
  width: 104px;
  color: grey;
  z-index: 0;
}
.modal-style {
  width: 30vw;
  padding: 30px 0px 30px 0px;
  line-height: 5vw;
  position: fixed;
  top: 10vw;
  left: 35vw;
  background-color: rgb(187, 231, 161);
  color: rgb(5, 68, 24);
  z-index: 1;
  border-radius: 5vw;
}

@media all and (max-width: 600px) {
  .modal-style{
    width: 80vw;
    top: 30vw;
    left:10vw;
  }  
}
#btn-box {
  padding: 20px;
}
#btn-box button {
  padding: 15px;
  border-radius: 5vw;
}
